!!!
%html
  %head
    %title Rubyistokei
    %link(rel="stylesheet" href="/css/normalize.css" type="text/css")
    %link(rel="stylesheet" href="/css/screen.css" type="text/css")
    %link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" type="text/css")
    %script(src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js")
    %script(src="/js/moment.min.js")
    %script(src="/js/jquery-1.9.1.min.js")
    %script(src="/js/knockout-2.2.1.js")
    %script(src="/js/knockout.mapping-latest.js")
    %script(src="/js/tokei.js")
    :css
      body { background-color: #000; color: #fff; }
    %script(type="text/html" id="tokei-template")
      .tokei-box(data-bind="tokei: $data")
        .tokei-text(data-bind="style: {color: color, fontSize: fontSize, top: top, left: left, fontFamily: fontFamily}")
          %span(data-bind="text: $root.hour")
          %span(data-bind="style: {visibility: $root.colonVisibility}")<>:
          %span(data-bind="text: $root.minute")
        .info-wrapper
          .info-box
            .header
              %strong.name(data-bind="text: name")
              %span.title(data-bind="text: title")
            .body
              %span.bio(data-bind="text: bio")
              %span.taken-by
                %span &mdash; Photo taken by
                %strong(data-bind="text: taken_by")

  %body
    %div(data-bind="template: {name: 'tokei-template', data: current}")
    %div(data-bind="template: {name: 'tokei-template', data: next}")
