body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.hidden {
  visibility: hidden;
}

.tokei {
  position: absolute;
  display: none;
}

.tokei-wrapper {
  position: relative;
}

.tokei-box {
}
